.logo {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 3%;

    background-blend-mode: darken;
}

.choiseTitle {
    /* Pain ou galette ? */

    position: absolute;
    width: 289px;
    height: 44px;
    left: 43%;
    top: 45%;

    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    color: #4D0302;

}

.margin {
    margin-top: 15%;
}

.selectable:hover {
    opacity: 80%;
}